@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.button {
  display: flex;
  width: 7vw;
  height: 4vw;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin: 0.1vw;
}

.big-button {
  display: flex;
  width: 14.2vw;
  height: 4vw;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin: 0.1vw;
}

.field {
  display: flex;
  align-content: center;
  justify-content: end;
  background-color: #666;
  color: #fff;
  height: 4vw;
  font-size: 20px;
}

#field-text {
  margin-right: 10px;
  margin-bottom: 10px;
}

.gray {
  background-color: #ddd;
}

.orange {
  background-color: orange;
}

.row {
  display: flex;
  width: 28vw;
}

.table {
  background-color: #888;
  width: fit-content;
  padding: 1px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  margin: 0;
  padding: 10px;
}

.navbar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 30vw;
  justify-content: space-between;
  font-size: 25px;
}

.navbar-title {
  font-size: 40px;
}

.link,
.link:visited {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: gray;
}

.separated::before {
  content: " | ";
  padding: 0 10px;
}

.quote {
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
}

.home-container {
  margin: 10px;
}

.calc-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.calc-text {
  width: 50vw;
  text-align: center;
}
